node_modules

.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.vscode
*.log
*.pot
*.pyc
__pycache__
settings.py
db.sqlite3
media
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history 
*.DS_Store
__pycache__/
node_modules/
dist/
npm-debug.log
yarn-error.log
api_sw.yaml
